@import url(https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono|Nixie+One|VT323);

/*
font-family: 'Share Tech', sans-serif; // Title
font-family: 'Share Tech Mono', sans-serif; // Code
font-family: 'Nixie One', sans-serif; // Text
font-family: 'VT323', monospace; // Fun
*/

/*
simple way to have an unified background that cover all the screen.
*/

* {
    font-family: 'Nixie One', sans-serif;
    color: #eeeeee;
    margin: 0;
    padding: 0;
    border: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #111111;
    background: black url('img/head_front.svg') no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment:fixed;
}

p {
    margin: 10px 0;
}

#container {
    margin: auto;
    width: 800px;
    min-height: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    padding: 10px 25px;
}

/*
Legend act here as a menu, give the same green border than central-block.
*/
legend {
}
fieldset {
}

/*
Main app block, central.
*/

h1, h2, h3, h4, h5, h6 {
    color: #55DD00;
    font-family: 'Share Tech', Monospace, sans-serif;
}

.index {
    text-align: left;
}

.index label {
    width: 250px;
    display: inline-block;
    padding: 3px 0;
}

/*
all the button
*/
.glyphicon {
    font-size: 32px;
    vertical-align: middle;
}

.btn-open {
    display: block;
    margin-top: 20px;
}

.btn-red {
    background-color: #aa0000;
}

.btn-green {
    background-color: #00aa00;
}

.btn-police {
    background-color: #0000aa;
}

.btn-blue {
    background-color: #0000aa;
}

.text-input {
    font-size: 1.5em;
    padding: 2px;
    color: black;
    text-align: center;
    border: 2px solid #00aa00;
    font-weight: bold;
}

.number {
}

.separator:before {
  content: ":";
}
.numbers {
    width: 200px;
    text-align: center;
    border: 2px solid #eeeeee;
    padding: 10px 10px;
    margin: 5px;
}

.breathSlider{
    padding: 0;
    vertical-align: middle;
}

#breathBox span {
    width: 48px;
    display: inline-block;
}

#breathBox {
    margin: 5px 0;
}

/* Make it a marquee */
.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-animation: marquee 20s linear infinite;
    animation: marquee 20s linear infinite;
    font-family: 'VT323', monospace;
    color: black;
    background-color: #888;
    border: 3px solid black;
    padding: 10px 5px;
}

@-webkit-keyframes marquee {
    0%   { text-indent: 100% }
    100% { text-indent: -100% }
}

@keyframes marquee {
    0%   { text-indent: 100% }
    100% { text-indent: -100% }
}

#open-block,
#close-block,
#msg-block {
    display: none;
}
