@import url(https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono|Nixie+One|VT323);

/*
font-family: 'Share Tech', sans-serif; // Title
font-family: 'Share Tech Mono', sans-serif; // Code
font-family: 'Nixie One', sans-serif; // Text
font-family: 'VT323', monospace; // Fun
*/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #111111;
    background: black url('img/head_front.svg') no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment:fixed;
    font-size: 1.7rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
  display: inline-block;
  height: 10%;
  width: 100%;
  max-height: 80px;

  background-color: black;
  box-shadow: 0 0 8px black;

  padding-top: 20px;
  padding-bottom: 20px;
}

header h1 {
  background-color: black;
  text-align: center;
  margin: 0;
}

.container {
    margin: auto;
    max-width: 800px;
    min-height: 90%;
    height: 90%;
    background-color: rgb(245, 245, 245);
    padding: 10px 25px;
}

ul {
  width: 50%;
  margin-left: 20%;
}

li {
  list-style: none;
}

li a {
  float: right;
}

/*
Legend act here as a menu, give the same green border than central-block.
*/
legend {
}
fieldset {
}

/*
Main app block, central.
*/

h1 a,h1 a:hover,  h1, h2, h3, h4, h5, h6 {
    color: #55DD00;
    font-family: 'Share Tech', Monospace, sans-serif;
    text-decoration: none;
}

.index {
    text-align: left;
}

.index label {
    width: 250px;
    display: inline-block;
    padding: 3px 0;
}

/*
all the button
*/
.glyphicon {
    font-size: 32px;
    vertical-align: middle;
}

.btn {
    width: 120px;
    height: 64px;
    margin: 0 0 5px 0;
    font-size: 1.6em !important;
}

#btn-open {
    display: block;
    margin-top: 20px;
}

.separator:before {
  content: ":";
}

#breathSlider {
    padding: 0;
    vertical-align: middle;
    width: 50%;
}

#breathBox span {
    display: inline-block;
}

#breathBox {
    margin: 5px 0;
}

.numbers {
    width: 245px;
    text-align: center;
    border: 2px solid #eeeeee;
    font-size: 2em;
    padding: 2px;
    margin: 5px;
}


/* Make it a marquee */
.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-animation: marquee 20s linear infinite;
    animation: marquee 20s linear infinite;
    font-family: 'VT323', monospace;
    color: black;
    background-color: #888;
    border: 3px solid black;
    padding: 10px 5px;
}

@-webkit-keyframes marquee {
    0%   { text-indent: 100% }
    100% { text-indent: -100% }
}

@keyframes marquee {
    0%   { text-indent: 100% }
    100% { text-indent: -100% }
}

.block-status {
    min-height: 220px;
}

#update-block,
#open-block,
#close-block,
#msg-block {
    display: none;
}

#update-block {
    font-size: 1.2em;
}

.text-input {
    vertical-align: middle;
    font-weight: bold;
    width: 48px;
    display: inline;
    text-align: center;
    padding: 0px;
    margin: 0 5px;
}


/* small screen */
@media(max-width: 768px) {
  ul {
    width: 80%;
    margin-left: 0;
  }
}