/*
simple way to have an unified background that cover all the screen.
*/
html {
    background: black url('https://fixme.ch/w/images/d/df/Pxe_fixme_splash.png') no-repeat;
    background-size: cover;
    margin: 16px;
}

* {
   /* Prevent selection*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

a {
    color: lightgreen;
}

/*
Legend act here as a menu, give the same green border than central-block.
*/
legend {
    padding: 1px 10px;
    background: black;
    margin: 4px;
    border-radius: 4px;
    border-width: 3px;
    border-color: green;
    border-style: groove;
}

fieldset {
    border-color: #24FF61;
}

/*
Main app block, central.
*/
h1 {
    color: lightgreen;
    font-family: Monospace, sans-serif;
    font-size: 1.5em;
    margin-left: 2%;
    margin-top: 5%;
}

.central-block {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    color:green;
    font-size:18px;
    background-color:black;
    border-width: 3px;
    border-color: green;
    border-style: groove;
    margin: 5% auto;
    text-align:center;
    vertical-align:middle;
    padding:1%;
    opacity:0.9;
}

.index {
    text-align: left;
}

.index label {
    width: 250px;
    display: inline-block;
    padding: 3px 0;
}

/*
API message block
*/
#msg-block {
    padding: 5px;
    border-top: 1px solid green;
}

/*
buttons
*/
.plusminux {
    padding: 2px 8px;
    display: inline-block;
    width: 32px;
    color: lightgreen;
    font-size: 48px;
    font-weight: bold;
    line-height: 12px;
}

/*
match all the button
*/
div .button, button, input[type=submit] {
    border-style: groove;
    background: #009100;
    font-size:20px;
    border-color: #006100;
    border-width:3px;
    padding:5px 15px;
    margin:5px 2px;
    color:black;
    border-radius: 5px;
}

div .btn_red {
    background: #ff0000;
}

div .btn_green {
    background: #00ff00;
}

div .btn_blue {
    background: #0000ff;
}


div .button:active, button:active, input[type=submit]:active {
    background: #006100;
}

div .button[disabled], button[disabled], input[type=submit][disabled] {
    background: #003100;
}

div .button[disabled]:active, button[disabled]:active, input[type=submit][disabled]:active {
    background: #003100;
}

.text-input {
    border-style: groove;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    background: white;
    font-size:20px;
    border-color: #006100;
    border-width:3px;
    border-radius: 5px;
    width:48px;
    margin-top:20px;
    color:black;
    text-align:center;
}

.number {
    float:left;
    display:inline;
    text-align:center;
    background-color:#009100;
    color:white;
    font-size:32;
    font-weight:bold;
    padding:8px;
    width:20px;
    height:35px;
    border-radius:10px;
    margin: 4px;
}

#separator {
    background: black;
}
.numbers {
    margin: 0px auto;
    width:220px;
    height: 50px;
}

.breathSlider{
    padding: 0;
    vertical-align: middle;
}

#breathBox span {
    width: 48px;
    display: inline-block;
}

#breathBox {
    margin: 5px 0;
}
